head
    link(rel="stylesheet" href="/main.css")
    link(   rel="icon"
            type="image/jpg"
            href="img/favicon.jpg")

    meta(charset="UTF-8")
    meta(   name="device-width" 
            content="width=device-width initial-scale=1")

    title #{ title }