body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: $darkGreen;
    margin: 0;
    font-size: 14px;

    * {
        margin: 0;
    }
}

h1 {
    color: $yellow;
    font-size: 3em;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: $white solid 0.3em;
}

p.intro {
    background-color: $black;
    color: $white;
    padding: 1em 12em;
    text-align: justify;
    line-height: 1.4;
    a {
        color: $yellow;
        font-size: 1.1em;
        text-decoration: none;
        padding: 0.1em;
        &:visited {
            color: $green;
            text-decoration: strikethrough;
        }
        &:hover {
            color: $darkGreen;
            background-color: $white;
        }
        &:active {
            text-decoration: strikethrough;
        }
    }
}