$black: #0a090c; //rgba(10, 9, 12, 100)
$white: #f0edee; //rgba(240, 237, 238, 100)
$darkGreen: #07393c; //rgba(7, 57, 60, 100)
$yellow: #edeec9; //rgba(237, 238, 201, 100)
$green: #a7bbaa; //rgba(167, 187, 170, 100)