/* Coolors Exported Palette - coolors.co/0a090c-f0edee-07393c-edeec9-7e9181 */

$black: #0a090c; //rgba(10, 9, 12, 100)
$white: #f0edee; //rgba(240, 237, 238, 100)
$darkGreen: #07393c; //rgba(7, 57, 60, 100)
$yellow: #edeec9; //rgba(237, 238, 201, 100)
$green: #7e9181; //rgba(126, 145, 129, 100)