body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: $darkGreen;
    margin: 0;
    font-size: $bf / (16/14) + px;
    * {
        margin: 0;
    }
}

h1 {
    color: $yellow;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: -4px;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: $white solid 0.3em;
}

span {
    font-weight: 600;
    color: $darkGreen;
    font-size: 1em;
}