.intro {
    margin-bottom: 1em;
    background-color: $black;

    * {
        @include break(1024) {
            max-width: 70em;
            margin: 0 auto;
        }
    }

    h2, p, ul {
        color: $yellow;
        padding: 1em 12em;
        text-align: justify;
        line-height: 1.4;
        letter-spacing: 1px;
        font-weight: 300;

        &.italic {
            font-style: italic;
        }
        a {
            color: $yellow;
            font-size: 1.1em;
            text-decoration: underline;
            padding: 0.1em;
            &:visited {
                color: $green;
                text-decoration: strikethrough;
            }
            &:hover {
                color: $darkGreen;
                background-color: $white;
                text-decoration: none;
            }
            &:active {
                text-decoration: strikethrough;
            }
        }
    }

    h2 {
        padding: 1em 0;
        color: $white;
    }
    ul {
        padding-top: 0;
        padding-bottom: 2em;
    }
}