img.persona-image {
    display: block;
    max-width: 85%;
    margin: 0 auto 0 0;
    padding: 0.5em;
}
img.user-type-img {
    max-width: 6%;
    position: absolute;
    top: 1em;
    right: 2%;
}

p.title {
    font-weight: 600;
    font-size: 1.25em;
    text-transform: capitalize;
    margin-bottom: 0.25em;
    &.center {
        text-align: center;
    }
}

p.key {
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    color: $darkGreen;
    margin-bottom: 0.25em;
    color: $black;
    font-weight: 300;

    &.user {
        font-size: 1.1em;
        span {
            padding: 0 0.5em;
        }
    }
    &.table-cell {
        display: table-cell;
        text-align: right;
    }
}

.technology {
    margin-top: -3em;
}

.data-row {
    display: table;
    table-layout: fixed;
    width: 100%;
}

span.table-cell {
    display: table-cell;
    text-align: left;
    padding-bottom: 0.25em;
        // equivalent to margin bottom above but for table-cells that cannot support margin. 
}

ul.needs {
    padding: 0;
    list-style-type: square;
    li {
        color: $darkGreen;
        font-size: 0.9em;
        margin-bottom: 0.2em;
    }
}

p.body {
    color: $black;
    background-color: $green;
    padding: 0.5em;
}